@import "ol/ol.css";
@import "../node_modules/bootstrap/scss/bootstrap";
.header {
  padding: 10px;
  text-align: left;
  background: #1c87c9;
  color: white;
  font-size: 30px;
}
html, body {
  /* margin: 0; */
  height: 100%;
}
form {
  display: flex;
  align-items: stretch;
}
.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.box .map {
  /* position: absolute; */
  /* margin: 0; */
  flex: 1 1 auto;
  // width: 100%;
  // height: 100%;
}
.subjectbox {
  width: 120px;
  height: 25px;
  border: 1px solid #999;
  font-size: 18px;
  color: #eee;
  background-color: #3E85D6;
  border-radius: 5px;
  box-shadow: 2px 2px #ccc;
  margin-left: 10px;
}
.cragjump {
  width: 100%;
  height: 25px;
  border: 1px solid #999;
  font-size: 18px;
  color: #eee;
  background-color: #3E85D6;
  border-radius: 5px;
  box-shadow: 2px 2px #ccc;
  margin-left: 10px;
}
.addcrag {
  width: 100%;
  height: 25px;
  border: 1px solid #999;
  font-size: 18px;
  color: #eee;
  background-color: #3E85D6;
  border-radius: 5px;
  box-shadow: 2px 2px #ccc;
  margin-left: 10px;
}
.dayform{
  flex-direction: row;
  // height: 27px;
  padding-left: 50px;
  padding-right: 15px;
  // justify-content: center;
  font-size: 18px;
  color: #eee;
  background-color: #3E85D6;
}
.addform{
  flex-direction: row;
  // height: 27px;
  padding-left: 50px;
  // padding-right: 15px;
  // justify-content: center;
  font-size: 18px;
  color: #eee;
  background-color: #3E85D6;
}
.addformTitle {
  flex-direction: row;
  // height: 27px;
  padding-left: 50px;
  padding-right: 15px;
  // justify-content: center;
  font-size: 18px;
  color: #eee;
  background-color: #3E85D6;
}
.addform .select2{
  color: black;
  // background-color: #3E85D6;
}
